.box {
	width: 100%;
	margin: 0 auto;
}

.bg-white {
	background: #fff;
}

* {
	margin: 0;
	box-sizing: border-box;
}

a {
	color: #3a5a7a;
	text-decoration: none;
}

.btc-calculator .form-holder:after {
    content: '';
    display: block;
    clear: both;
}

.btc-calculator h1 {
    color: #1bbbb3;
    margin-bottom: 5px;
    font-size: 38px;
}

.btc-calculator h2 {
    margin-bottom: 10px;
    color: inherit;
}

.btc-calculator .form-holder {
    margin: 0px 0 40px;
}

.btc-calculator .form-holder .calc-col input[type=text] {
    height: 75px;
    margin-bottom: 10px;
    background: #dcdcdc;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    width: 100%;
    padding: 0 20px;
    font-size: 48px;
    color: #1bbbb3;
    font-weight: bold;
}

.btc-calculator .form-holder .calc-col input[type=text]:focus {
    background: #1bbbb3;
    color: #fff;
    outline: 0;
}

.btc-calculator .form-holder .calc-col .name {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.btc-calculator .form-holder .calc-col .equal {
    padding: 0 30px;
    line-height: 68px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 40px;
}

.btc-calculator .form-holder .calc-col .buy-link {
    display: block;
    width: 190px;
    height: 75px;
    line-height: 75px;
    background: #4196d7;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border-radius: 2px;
}

.btc-calculator .form-holder .calc-col .buy-link:hover {
    background: #61b1ee;
}

.btc-calculator .form-holder .calc-col .calc-arrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: url("../../images/calculator-arrow.png") no-repeat;
}

.btc-calculator .form-holder .calc-col .fiat-choose {
    position: relative;
}

.btc-calculator .form-holder .calc-col .fiat-list {
    position: absolute;
    border: 2px solid #f5f5f5;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    background: #fff;
}

.btc-calculator .form-holder .calc-col .fiat-list a {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    margin: 5px;
}

.btc-calculator .form-holder .calc-col .fiat-list a:hover {
    background: #f5f5f5;
}

[class*="arrow"]:before, [class*="arrow"]:after {
	position: absolute;
	display: inline-block;
	border-color: transparent;
	border-style: solid;
	content: "";
}

*:before, *:after {
	box-sizing: border-box;
}

